@charset "utf-8";
body {
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	padding: 0;
	width: 1000px;
	font-size: 14px;
	background-color: #D1D1D1;
}
.blue {
	background-color: #4B43E3;
}
.blue table {
	width: 700px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0px;
}
.blue table tr {
	margin-bottom: 0px;
	height: 45px;
}

.blue table tr td {
	padding-left: 20px;
}


.purple {
	background-color: #C737CF;
}
.purple table {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 780px;
	margin-left: 20px;
}
.yello table tr td {
	padding-left: 20px;
}





.header {
	width: 1000px;
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.main {
	width: 1000px;
	height: 500px;
	background-color: #F8F5F5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main .navbar {
	background-color: #E84144;
	width: 200px;
	height: 500px;
	float: left;
}
.main .navbar a {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0px;
	line-height: 40px;
	background-color: #FF0404;
	color: #F7F7F7;
	font-size: 15px;
	border-radius: 20px;
	text-decoration: none;
}
.main .navbar a:hover {
	background-color: #BA0D0F;
	color: #910D0F;
	-webkit-box-shadow: inset 0px 0px 10px;
	box-shadow: inset 0px 0px 10px;
}


.main .section {
	width: 790px;
	height: 500px;
	margin-left: 10px;
	background-color: #6151EE;
	float: left;
}
.main .section iframe {
	width: 100%;
	border: none;
	height: 100%;
}

.footer {
	width: 1000px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FCF8F8;
	text-align: center;
	line-height: normal;
}
.d-text {
	border: none;
	line-height: 30px;
	height: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;







}
.txt-1 {
	width: 60%;
	border: none;
	line-height: 30px;
	border-radius: 0px 10px 10px 0px;
	text-indent: 10px;
	color: #333333;
	text-align: left;
}
.txt-2 {
	border: none;
	line-height: 30px;
	width: 35%;
	color: #333333;
	text-indent: 10px;
}

.mail1 {
	width: 5%;
	text-align: center;
	border: none;
	line-height: 30px;
}

.mail2 {
	border: none;
	width: 20%;
	line-height: 30px;
	height: 32px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #333333;
}
.d-erea {
	border: none;
	height: 100px;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
}
.areatext {
	border-radius: 0px 10px 10px 0px;
	border: none;
	width: 60%;
	color: #333333;
	text-indent: 10px;
	height: 100px;
	float: left;
}
.submit {
	width: 30%;
	border: none;
	margin-left: 168px;
	line-height: 30px;
	border-radius: 10px;
	font-size: 15px;
	background-color: #159EE1;
	color: #F9F7F7;
}
.submit:hover {
	background-color: #1A8DB6;
}
